{% extends 'base.html.twig' %}

{% block title %}Nouvelle couleur{% endblock %}

{% block body %}
    <h1>Création d'une couleur</h1>

    {{ include('references/couleur/_form.html.twig') }}

    <a href="{{ path('couleur_index') }}">Retour</a>
{% endblock %}
