{% extends 'base.html.twig' %}

{% block title %}Modification mets{% endblock %}

{% block body %}
    <h1>Modification du mets {{ mets.codemets }}</h1>

    {{ include('accords_mets_vins/mets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mets_index') }}">Retour</a>

{% endblock %}
