{% extends 'base.html.twig' %}

{% block title %}Nouveau pays{% endblock %}

{% block body %}
    <h1>Création d'un pays</h1>

    {{ include('/references/pays/_form.html.twig') }}

    <a href="{{ path('pays_index') }}">Retour</a>
{% endblock %}
