<form method="post" action="{{ path('appellation_delete', {'codeappellation': appellation.codeappellation}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'appellation {{ appellation.codeappellation }} ?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appellation.codeappellation) }}">
<button class="btn-suppr">
	<i class="far fa-times-circle"></i>
</button>
</form>
