{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
	<div>{{ message }}</div>
{% endfor %}
<h1>Bienvenue</h1>
{% endblock %}
