<form method="post" action="{{ path('niveau_accord_delete', {'idNiveauAccord': niveau_accord.idNiveauAccord}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ niveau_accord.idNiveauAccord) }}">
    <button class="btn">Delete</button>
</form>
