{% extends 'base.html.twig' %}

{% block title %}Modification Vin{% endblock %}

{% block body %}
    <h1>Modification du vin {{ vin.codevin }}</h1>

    {{ include('vin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vin_index') }}">Retour</a>

{% endblock %}
