{% extends 'base.html.twig' %}

{% block title %}Nouveau vin{% endblock %}

{% block body %}
    <h1>Création d'un vin</h1>

    {{ include('vin/_form.html.twig') }}

    <a href="{{ path('vin_index') }}">Retour</a>
{% endblock %}
