<form method="post" action="{{ path('cepage_delete', {'codecepage': cepage.codecepage}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le cépage {{ cepage.codecepage }} ?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cepage.codecepage) }}">
<button class="btn-suppr">
	<i class="far fa-times-circle"></i>
</button>

</form>
