<form method="post" action="{{ path('region_delete', {'coderegion': region.coderegion}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region.coderegion) }}">
    <button class="btn">Delete</button>
</form>
