<form method="post" action="{{ path('millesime_delete', {'codemillesime': millesime.codemillesime}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le millésime {{ millesime.codemillesime }} ?'>);">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ millesime.codemillesime) }}">
<button class="btn-suppr">
	<i class="far fa-times-circle"></i>
</button>

</form>
