<form method="post" action="{{ path('millesime_delete', {'codemillesime': millesime.codemillesime}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ millesime.codemillesime) }}">
    <button class="btn">Delete</button>
</form>
