{% extends 'base.html.twig' %}

{% block title %}Modification millésime{% endblock %}

{% block body %}
    <h1>Modification du millésime {{ millesime.codemillesime }}</h1>

{{ include('references/millesime/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('millesime_index') }}">Retour</a>

{% endblock %}
